/* Font */
@import "https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap";

$font: "Kalam", cursive;

/* Color pallete */
$primary: #050840;
$secondary: #08298c;
$info: #3565f2;
$success: #08748c;
$dark: #0d0d0d;

/* Spacing */
$s-xs: 8px;
$s-sm: 12px;
$s-md: 16px;
$s-lg: 20px;
$s-xlg: 28px;
