/* Font */
@import "https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap";

$font: "Kalam", cursive;

/* Color pallete */
$primary: #80000a;
$info: #274c77;
$success: #018e42;
$white: #fff;
$light: #ece4b7;
$dark: #222725;

/* Spacing */
$s-xs: 8px;
$s-sm: 12px;
$s-md: 16px;
$s-lg: 20px;
$s-xlg: 28px;
