.button {
  padding: $s-xs;
  font-size: $s-md;
  border: 1px solid black;
  border-radius: $s-xs;
  font-weight: bold;
  cursor: pointer;

  &--block {
    width: 100%;
  }

  &--primary {
    background-color: $primary;
    color: $white;
  }

  &--success {
    background-color: $success;
    color: $white;
  }
}
